<div class="card mb-4">
  <h5 class="card-header">Add expense</h5>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label class="col-md-4">Expense name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Amount</label>
        <input type="number" class="form-control" formControlName="amount" />
      </div>
      <div class="form-group">
        <button (click)="addEntry()" class="btn btn-primary">Enter</button>
      </div>
    </form>
  </div>
</div>

<app-overview [entries]="entries"></app-overview>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
